body {
    margin:0;
    padding:0;
    text-decoration: none;
}

.titulos {
    letter-spacing: 5px;
    padding: 10px 10px;
   
  }
a{
    text-decoration: none;
}
  hr {
    border: 0;
    border-top: 2px solid rgb(251, 4, 4);
    
    height:0;
    width: 1000px;
    }
  .izq_titulos 
    {
        position: absolute;
        font-size: 20px;
        left: 310px;
    }

    .der_titulos 
     {
        position: absolute;
        
        right: 310px;
    }


